@font-face {
    font-family: 'anudawregular';
    src: url('./fonts/anudrg__-webfont.woff2') format('woff2'),
         url('./fonts/anudrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
}

.logo-side {
    flex: 35%;
    background-image: url("./images/basketball.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.form-side {
    flex: 65%;
    background: rgb(243, 243, 243);
    height: 100vh;
    display: flex;
    flex-direction: column;
}