@font-face {
    font-family: 'anudawregular';
    src: url('./fonts/anudrg__-webfont.woff2') format('woff2'),
         url('./fonts/anudrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

.logo-side {
    flex: 35%;
    background-image: url("./images/basketball.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0 2rem 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 1.5rem 0;
    background-color: rgb(0, 0, 0, 55%);
    width: 100%;
    font-size: 2rem;
    font-family: 'anudawregular', sans-serif;
    color: white;
}

.logo-holder {
    height: min(75px, 175%);
}

.form-side {
    flex: 65%;
    background: rgb(243, 243, 243);
    height: 100vh;
    display: flex;
    flex-direction: column;
}